/* Cuadro de agregar imagenes */
.add__container-auxiliar {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.add__titulo {
    font-size: var(--big);
    font-weight: bold;
    margin-bottom: 1.6rem;
}
.add__img-producto {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.img__container {
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--theme-background-pretobranco);
    border: 1px dashed #C8C8C8;
    cursor: pointer;
}
.img__container figcaption {
    font-size: var(--small);
    color: var(--text-color-placeholder);
}
.img__container figcaption:nth-child(3) {
    display: none;
}

/* Boton agregar */
.container__boton {
    display: none;
}
.add__img-producto span {
    font-size: var(--medium);
}
.add__boton {
    font-size: var(--medium);
    padding: 1.2rem;
    border: 1px solid var(--background-bottom-darkblue);
    cursor: pointer;
    margin-left: 1rem;
}
.add__boton a {
    color: var(--text-color-darkblue);
}

/* Formulario de descripción del producto */
.agregar__producto {
    display: flex;
    flex-direction: column;
}
.container__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}
.label {
    font-size: var(--small);
    font-weight: 500;
    color: dodgerblue;
    margin-bottom: 0.8rem;
}
.login__input {
    height: 5.6rem;
    font-size: var(--medium);
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    border: transparent;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
}
.login__input::placeholder, .login__mensaje::placeholder {
    color: var(--text-color-placeholder);
}
.input__nombre:focus, .input__precio:focus {
    border: 1px solid #0000ff;
}
.login__mensaje {
    font-size: var(--medium);
    padding: 1.2rem;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    border: transparent;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
}


.login__btn {
    height: 5.2rem;
    font-size: var(--small);
    background-color: var(--text-color-darkblue);
    color: var(--text-color-white);
    padding: 1.2rem 1.6rem;
    border: transparent;
    margin-bottom: 1.6rem;   
    cursor: pointer;
}
.login__btn:hover {
    border: 1px solid black;
}

/*Manejo de errores*/

.mensaje-error {
    font-size: var(--small);
    color: #A40000;
    display: none;
}
.container__input-invalid .mensaje-error {
    display: block;
}
.container__input-invalid .login__input {
    border: 1px solid #A40000;
}
.container__input-invalid .login__mensaje {
    border: 1px solid #A40000;
}


/* Responsive design 768px */
@media screen and (min-width: 768px) {
    .add__container-auxiliar {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }
    .add__img-producto {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    .img__container {
        margin-right: 0.9rem;
        width: 26rem;
        height: 15rem;
    }
    .img__container figcaption:nth-child(2) {
        display: none;
    }
    .img__container figcaption:nth-child(3) {
        display: block;
        text-align: center;
    }
    .container__boton {
        display: block;
    }
}

/*Responsive design 1130px*/
@media screen and (min-width: 1130px) {
    .add__container-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .add__container-auxiliar {
        width: 60rem;
    }
    .add__titulo {
        font-size: var(--big);
    }
    .img__container {
        width: 36rem;
    }   
}




















