/* Cuadro de agregar imagenes */
.add__container__auxiliar {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.add__titulo {
    font-size: var(--big);
    font-weight: bold;
    margin-bottom: 1.6rem;
}
.add__img-producto {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.img__container {
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--theme-background-pretobranco);
    border: 1px dashed #C8C8C8;
    cursor: pointer;

}
.img__container figcaption {
    font-size: var(--small);
}

/* Boton agregar */
.container__boton {
    display: none;
}
.add__img-producto span {
    font-size: var(--medium);
}
.add__boton {
    font-size: var(--medium);
    padding: 1.2rem;
    border: 1px solid var(--background-bottom-darkblue);
    cursor: pointer;
}
.add__boton a {
    color: var(--text-color-darkblue);
}

/* Formulario de descripción del producto */
.add__form {
    display: flex;
    flex-direction: column;
}
.form__inputs {
    margin-bottom: 1.6rem;
    background-color: var(--theme-background-pretobranco);
    height: 5.6rem;
    border-radius: 4px;
    border-bottom: 1px solid #C8C8C8;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: transparent;
    outline: none;
}
.label {
    display: block;
    font-size: var(--medium);
    color: #A2A2A2;
}
.form__mensaje {
    font-size: var(--medium);
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border: transparent;
    border-radius: 4px;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
}
.form__btn-add {
    height: 5.1rem;
    font-size: var(--medium);
    color: var(--text-color-white);
    background-color: var(--background-bottom-darkblue);
    border: transparent;
    cursor: pointer;
}
.form__btn-add:hover {
    box-shadow: 0.5px 0.5px 0.5px 1px darkblue;
}























