.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.icon__logo {
    width: 10rem;
}
.cabecera_input {
    display: flex;
    align-items: center;
}
.item1 {
    order: 2;
}
.item2 {
    order: 1;
}
.search {
    display: none;
}
.icon__lupa {
    cursor: pointer;
}
.cabecera__btn {
    height: 4rem;
    width: 13rem;
    margin-right: 3rem;
    border: 1px solid #2A7AE4;
    background-color: var(--theme-background-pretobranco);
    outline: none;
    cursor: pointer;
}
.cabecera__btn a {
    color: var(--text-color-darkblue);
}

/*Sección de Banner*/
.banner__img {
    width: 100vw;
    max-height: 35rem;
    object-fit: cover;
} 
.banner__informacion {
    text-align: left;
    position: relative;
    top: -125px;
}
.banner__titulo {
    font-size: var(--big);
    color: orange;
    font-weight: 700;
    margin-bottom: .8rem;
}
.banner__texto {
    font-size: var(--small);
    font-weight: 600;
    color: orange;
    margin-bottom: .8rem;
}
.banner__btn {
    padding: 1.2rem 1.6rem;
    background-color: var(--background-bottom-darkblue);
    font-size: var(--small);
    color: var(--text-color-white);
    border: none;
}































