.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.icon__logo {
    width: 10rem;
}
.cabecera_input {
    display: flex;
    align-items: center;
}
.item1 {
    order: 2;
}
.item2 {
    order: 1;
}
.search {
    display: none;
}
.icon__lupa {
    cursor: pointer;
}
.cabecera__btn {
    height: 4rem;
    width: 13rem;
    margin-right: 3rem;
    border: 1px solid #2A7AE4;
    background-color: var(--theme-background-pretobranco);
    outline: none;
    cursor: pointer;
}
.cabecera__btn a {
    color: var(--text-color-darkblue);
    font-weight: 600;
}

/*Sección de Banner*/
.banner {
    position: relative;
}
.banner__img {
    width: 100%;
    max-height: 35rem;
    object-fit: cover;
} 
.banner__informacion {
    position: absolute;
    bottom: 10%;
}
.banner__titulo {
    font-size: var(--big);
    color: darkorange;
    font-weight: 700;
    margin-bottom: .8rem;
}
.banner__texto {
    font-size: var(--small);
    font-weight: 600;
    color: var(--text-color-white);
    margin-bottom: 1.6rem;
}
.banner__btn {
    padding: 1.2rem 1.6rem;
    background-color: var(--background-bottom-darkblue);
    font-size: var(--small);
    color: var(--text-color-white);
    border: none;
    cursor: pointer;
}

/*Sección de productos*/
.product {
    margin-top: 1.6rem;
}
.product__texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
}
.product__titulo {
    font-size: var(--big);
    font-weight: 700;
}
.product__enlace {
    font-size: var(--small);
    font-weight: 700;
    color: var(--text-color-darkblue);
    cursor: pointer;
}

.product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
.card {
    margin-bottom: 1.6rem;
}
.card_img {
    Width: 156px;
    Height: 174px;
    object-fit: cover;
}
.card__name {
    font-size: var(--small);
    font-weight: 500;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.card__price {
    font-size: var(--medium);
    font-weight: 700;
    margin-bottom: .8rem;
}
.card__enlace {
    font-size: var(--small);
    font-weight: 700;
    color: var(--text-color-darkblue);
    margin-bottom: .8rem;
    cursor: pointer;
}

/* Sección de contacto */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-background-lightblue);
    padding-top: 2.6rem;
    padding-bottom: 1.6rem;

}
.info__texto {
    text-align: center;
    line-height: 36px;
}
.info__texto a{
    font-size: var(--medium);
    font-weight: 500;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3.2rem;
}
.formulario__titulo {
    font-size: var(--medium);
    font-weight: bold;
}
.formulario__input {
    font-size: var(--medium);
    height: 3.2rem;
    padding: .8rem;
    margin-top: .8rem;
    border: transparent;
    border-radius: 4px;
    border-bottom: 1px solid #B4B4B4;
    outline: none;
}
.formulario__mensaje {
    font-size: var(--medium);
    padding: .8rem;
    margin-top: 1.6rem;
    outline: none;
    border: transparent;
    border-radius: 4px;
    border-bottom: 1px solid #B4B4B4;
}
.formulario__btn {
    width: 13rem;
    font-size: var(--small);
    background-color: var(--background-bottom-darkblue);
    color: var(--text-color-white);
    padding: 1.2rem 1.6rem;
    border: transparent;
    margin-top: 1rem;
    cursor: pointer;
}

/* Sección Rodapíe */
.rodapie {
    background-color: var(--theme-background-pretobranco);
    padding-top: .8rem;
    padding-right: .8rem;
}
.rodapie p {
    font-size: var(--small);
    font-weight: 500;
    color: navy;
}


/* Responsive Design Tablet 768px*/

@media screen and (min-width: 768px) {

    /* Seccion header */
    .cabecera_input {
        width: 53rem;
        justify-content: space-between;
    }
    .item1 {
        order: 1;
        display: flex;
        padding: 1rem;
        border: none;
        border-radius: 20px;
        background-color: var(--theme-background-gray);
    }
    .item2 {
        order: 2;
    }
    .search {
        width: 20rem;
        font-size: var(--small);
        display: block;
        border: transparent;
        outline: none;
        background-color: var(--theme-background-gray);
        margin-right: 1rem;
    }
    .icon__lupa {
       opacity: 0.4;
    }
    .cabecera__btn {
        width: 15rem;
        margin-right: 0;
    }

    /* Sección del Banner */
    .banner__titulo {
        font-size: 5.2rem;
    }
    .banner__texto {
        font-size: var(--big);
        font-weight: 700;
    }

    /* Sección de productos */
    .product {
        margin-top: 3.2rem;
    }
    .card {
        margin-bottom: 3.2rem;
    }
    .card_img {
        Width: 164px;
    }
    .card__enlace {
        font-size: var(--medium);
    }

    /* Sección contacto */
    .contacto {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }
    .info__texto {
        text-align: left;
    }
    .contacto__formulario {
        margin-top: 0;
        margin-left: 12%;
    }
}


/* Responsive design Desktop 1024px */
@media screen and (min-width: 1120px) {
    .icon__logo {
        width: 100%;
    }
    .cabecera_input {
        width: 90rem;
    }
    .search {
        width: 35rem;
    }

    /* Sección del Banner */
    .banner__img {
        max-height: 53rem;
    } 
    .banner__btn {
        padding: 1.6rem 1.6rem;
    }
}

























