/*Sección de productos*/
.product {
    margin-top: 3.2rem;
}
.product__texto {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.product__titulo {
    font-size: var(--big);
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.product__btn {
    width: 16rem;
    background-color: var(--background-bottom-darkblue);
    padding: 1.2rem 1.6rem;
    border: transparent;
    cursor: pointer;
}
.product__enlace {
    font-size: var(--small);
    font-weight: 600;
    color: var(--text-color-white);
}

.product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
.card__adicional {
    display: none;
}
.card {
    margin-bottom: 1.6rem;
}
.card_img {
    Width: 156px;
    Height: 174px;
    object-fit: cover;
}
.card__name {
    font-size: var(--small);
    font-weight: 500;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.card__price {
    font-size: var(--medium);
    font-weight: 700;
    margin-bottom: .8rem;
}
.card__enlace {
    font-size: var(--small);
    font-weight: 700;
    color: var(--text-color-darkblue);
    margin-bottom: .8rem;
    cursor: pointer;
}

/* Responsive Design Tablet 768px*/

@media screen and (min-width: 768px) {

    /* Sección de productos */
    .product {
        margin-top: 3.2rem;
    }
    .product__texto {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    
    .product__titulo {
        margin-bottom: 0;
    }
    .product__card {
        justify-content: flex-start;
        gap: 17px;
    }
    .card__adicional {
        display: block;
    }
    .card {
        /* margin-right: 1rem; */
    }
    .card_img {
        /* Width: 164px; */
    }
    .card__enlace {
        font-size: var(--medium);
    }

}

/* Responsive design Desktop 1130px */
@media screen and (min-width: 1130px) {

    /* Sección de productos */
    .product {
        margin-top: 4rem;
        /* margin-bottom: 3.2rem; */
    }
    .card__adicional {
        display: block;
    }
    .card_img {
        Width: 176px;
    }

}







