/* Sección de contacto */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-background-lightblue);
    padding-top: 2.6rem;
    padding-bottom: 1.6rem;

}
.info__texto {
    text-align: center;
    line-height: 40px;
}
.info__texto a{
    font-size: var(--medium);
    font-weight: 500;
    cursor: pointer;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3.2rem;
}
.formulario__titulo {
    font-size: var(--medium);
    font-weight: bold;
}
.formulario__input {
    font-size: var(--medium);
    height: 3.2rem;
    padding: .8rem;
    margin-top: .8rem;
    border: transparent;
    border-radius: 4px;
    border-bottom: 1px solid #B4B4B4;
    outline: none;
}
.input-nombre:focus {
    border: 1px solid #0000ff;
}

.formulario__mensaje {
    font-size: var(--medium);
    padding: .8rem;
    margin-top: 1.6rem;
    outline: none;
    border: transparent;
    border-radius: 4px;
    border-bottom: 1px solid #B4B4B4;
}
.input-mensaje:focus {
    border: 1px solid #0000ff;
}

.formulario__btn {
    width: 13rem;
    font-size: var(--small);
    background-color: var(--background-bottom-darkblue);
    color: var(--text-color-white);
    padding: 1.2rem 1.6rem;
    border: transparent;
    margin-top: 1rem;
    cursor: pointer;
}
.formulario__btn:hover {
    border: 1px solid black;
}

/*Mensajes de error input*/
.contacto__formulario-error-input .input-nombre {
    border: 1px solid #A40000;
}
.contacto__formulario-error-input .input-nombre::placeholder {
    color: #A40000;
}

/*Mensajes de error textarea*/
.contacto__formulario-error-mensaje .input-mensaje {
    border: 1px solid #A40000;
}
.contacto__formulario-error-mensaje .input-mensaje::placeholder {
    color: #A40000;
}

.mensaje__input-error, .mensaje__textarea-error, .formulario__incompleto {
    font-size: var(--small);
    margin-top: 0.8rem;
    display: none;
}

.contacto__formulario-error-input .mensaje__input-error {
    color: #A40000;
    display: block;
}

.contacto__formulario-error-mensaje .mensaje__textarea-error {
    color: #A40000;
    display: block;
}

.contacto__formulario-error-incompleto .formulario__incompleto {
    color: #A40000;
    display: block;
}
.formulario__completo {
    color: #0000ff;
    display: block;
}


@media screen and (min-width: 768px) {
    /* Sección contacto */
    .contacto {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }
    .info__texto {
        text-align: left;
    }
    .contacto__formulario {
        margin-top: 0;
        margin-left: 12%;
    }
}


@media screen and (min-width: 1130px) {
        /* Sección de contacto */
    .contacto__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .contacto__formulario {
        max-width: 500px;
    }
    .formulario__btn {
        padding: 1.6rem 1.6rem;
    }
}







