.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.icon__logo {
    width: 10rem;
}
.cabecera_input {
    display: flex;
    align-items: center;
}
.item1 {
    order: 2;
}
.item2 {
    order: 1;
}
.search {
    display: none;
}
.icon__lupa {
    cursor: pointer;
}
.cabecera__btn {
    height: 4rem;
    width: 13rem;
    margin-right: 3rem;
    border: 1px solid #2A7AE4;
    background-color: var(--theme-background-pretobranco);
    outline: none;
    cursor: pointer;
}
.cabecera__btn a {
    color: var(--text-color-darkblue);
    font-weight: 600;
}

/* Responsive design */
@media screen and (min-width: 768px) {
    /* Sección del header */
    .cabecera_input {
        width: 53rem;
        justify-content: space-between;
    }
    .item1 {
        order: 1;
        display: flex;
        padding: 1rem;
        border: none;
        border-radius: 20px;
        background-color: var(--theme-background-gray);
    }
    .item2 {
        order: 2;
    }
    .search {
        width: 20rem;
        font-size: var(--small);
        display: block;
        border: transparent;
        outline: none;
        background-color: var(--theme-background-gray);
        margin-right: 1rem;
    }
    .icon__lupa {
       opacity: 0.4;
    }
    .cabecera__btn {
        width: 15rem;
        margin-right: 0;
    }
}

@media screen and (min-width: 1130px) {
        /* Sección Header */
    .icon__logo {
        width: 100%;
    }
    .cabecera_input {
        width: 90rem;
    }
    .search {
        width: 35rem;
    }
}





















